<div class="card mt-3">
  <h5 class="card-header">{{title}}</h5>
  <div class="card-body">
    <h5 class="card-title">{{text}}</h5>
    <p class="card-text">{{username}} - {{date_created}}</p>
    <a href="/posts/{{id}}" class="btn btn-secondary">Comment</a>
  </div>
</div>