<div class="container mt-5">
    <h2 class="text-center">Your Dashboard</h2>
    <form id="create-post">
        <div class="mb-3">
            <input type="text" class="form-control" name="title" id="title" placeholder="Title">
        </div>
        <div class="mb-3">
            <textarea class="form-control" name="text" id="text" rows="3" placeholder="Text"></textarea>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-outline-dark" id="create_post">Create Post</button>
        </div>
    </form>
    <hr>
    <h2 class="text-center">Your Posts</h2>
    <div id="your-posts">
    {{#each posts as |post|}}
    <div class="card mt-3" id="post-{{post.id}}">
        <h5 class="card-header" id="post-title-{{post.id}}">{{post.title}}</h5>
    <div class="card-body">
        <h5 class="card-title" id="post-text-{{post.id}}">{{post.text}}</h5>
        <p class="card-text">{{post.user.username}} - {{post.date_created}}</p>
        <a href="api/posts/{{post.id}}" class="btn btn-secondary">Comment</a>
        <a class="btn btn-secondary" id="edit-post" data-post-id="{{post.id}}">Edit</a>
        <a class="btn btn-danger" id="delete-post" data-post-id="{{post.id}}">Delete</a>
    </div>
    </div>
    {{/each}}
    </div>
</div>
<script src="/js/dashboard.js"></script>